.files-root {
	display: flex;
	flex-direction: column;
	padding-left: 1rem;
	margin: 0;
}

.files-root > p {
	margin: 0;
}

.files-root[data-open="false"] {
	display: none;
}

.files-child {
	padding-left: 2rem;
}
