@import "@tailwindcss";

:root {
	--bg: #2e2e3a;
	--text: #d7d9d7;
	--info: #248232;

	--mono: "Jetbrains Mono", ui-monospace, Consolas, monospace;

	font: 18px / 145% var(--mono);
	letter-spacing: 0.18px;

	background: var(--bg);
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: var(--text);

	@media (max-width: 1024px) {
		font-size: 16px;
	}
}

body {
	margin: 0;
}
